.signin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 0%;
  padding: 0;
  background-color: rgb(231, 189, 213);
}

.signin-box {
  background-color: white;
  padding: 40px 50px;
  margin: 20%;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #6b1c46;
  width: 420px;
  height: 450px;
}

.signin-box h1 {
  margin-bottom: 20px;
  font-weight: bold;
}

.or {
  margin-top: 20%;
  margin-bottom: 0%;
  font-weight: bold;
  font-size: 25px;
  color: #9e5f81;
}

.button-container {
  display: flex;
  justify-content: center;
}
.button-container button {
  margin: 10px 50px;
  padding: 5px 16px;
  font-size: 16px;
  cursor: pointer;
  color: beige;
  border-radius: 20px;
  background-color: #6b1c46;
  justify-content: center;
  width: 210px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  list-style-type: none;
  position: absolute;
  gap: 50px;
}

.button-container2 {
  display: flex;
  justify-content: center;
}

.button-container2 button {
  margin: 10px 50px;
  font-size: 16px;
  cursor: pointer;
  color: beige;
  border-radius: 20px;
  background-color: #6b1c46;
  justify-content: center;
  width: 210px;
  display: flex;
  list-style-type: none;
  position: absolute;
  gap: 50px;
  padding: 0 16px;
}
.button-container3 {
  display: flex;
  justify-content: center;
}

.button-container3 button {
  margin: 80px 50px;
  padding: 5px 75px;
  font-size: 16px;
  cursor: pointer;
  color: beige;
  border-radius: 20px;
  background-color: #6b1c46;
  justify-content: center;
  width: 210px;
  display: flex;
  list-style-type: none;
  position: absolute;
  gap: 100px;
}
